*{
    font-family: 'Roboto', sans-serif;
}
li.nav-item ,a:hover{
    color:#59AB6E!important;  
}
.d-flex {
    display: flex !important;
    gap:20px;
}
.justify-content {
    gap:10px;
}
#templatemo_nav_top * {
    font-size: 12px !important;
    height: 23px;
    margin-top: 2px;
}
.text_size a{
    font-size: 48px !important;
    font-weight: 500;
}
.w-100 {
    width: 100% !important;
}
ul.nav.navbar-nav.d-flex.justify-content-between.mx-lg-auto {
    width: 50%;
    margin: 20px;
}
.text_heading{
    background: #E9EEF5;
}
.text_heading h1{
    margin-top: 60px;
    font-size: 48px;
    font-weight: 200;
    font-weight: 100 !important;
}
.text_heading p{
     text-decoration: center;
     font-size: 18px;
     font-weight: 300;
    padding: 0px 28%;
    margin-bottom: 80px;
}
.down{
    background: #C4C4C4;
}
.text_color{
    height: 500px;
}
.text_color iframe{
    width: 100%;
    height: 450px;
    padding-top: 50px;

}
.text_form{
    margin-top: 100px !important;
}
.text_head input{
    height: 45px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    margin-bottom: 20px;
}
.text_right input{
    height: 45px;
     border: 1px solid #E8E8E8;
    border-radius: 5px;
}
.text_left input{
    height: 50px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    margin-bottom: 20px;
}
.text_size a{
    font-size: 48px !important;
    font-weight: 550;
}
.text_last textarea{
    height: 200px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}
.text_button button{
    width: 15%;
    height: 50px;
    border: 1px solid #59AB6E;
    border-radius: 5px;
    float: right;
    margin-bottom: 80px;
}
.text_last li:hover{
    color: #59AB6E !important;
}
.flex-fill li,a{
    font-size: 18px;
}
.last{
    background: #1D242D;
}
.last ul,li{
    list-style: none !important;
    font-size: 18px;
}
@media screen and (max-width: 768px){
    .text_heading p{
        padding: 0px;
    }
    .text_button button{
        width: 25%;
        height: 50px;
    }
}